<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >  
  <ion-item [hidden]="mostrar">
    <ion-range min="0" max="256" [(ngModel)]="valorRange" color="secondary" (ionChange)="onRangeChange($event)">
      <ion-label slot="start"><ion-icon name="sad-outline" size="large"></ion-icon></ion-label>
      <ion-label slot="end"><ion-icon name="happy-outline" size="large"></ion-icon></ion-label>
    </ion-range>
  </ion-item>

  <ion-img id="imgTab3" [src]="imagem" size="4"></ion-img>

</ion-content>
